.sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7b90ba;
    color: white;
}

    .sidebar > h2 {
        text-align: center;
    }

.create-announcement-link {
    color: #ebd470;
    text-decoration: underline;
    text-align: right;
}

.announcement-link {
    padding: 20px 10px 20px 10px;
    height: auto;
    text-align: center;
    overflow: visible;
    width: 100%;
    border: none;
    border-bottom: 2px solid #7b90ba;
    cursor: pointer;
    color: black;
    display: block;
    background-color: #fff4c3;
}

    .announcement-link:hover {
        color: blue;
        text-decoration: none;
    }

.selected {
    background-color: #ebd470;
}

    .selected:hover {
        color: black;
    }

.selected-announcement {
    padding: 20px 60px 20px 60px;
    color: #666;
    background-color: white;
    margin: 30px 10px 30px 10px;
}

.announcement-content {
    padding-top: 40px;
}

.outline {
    background-color: #aabad9;
}


.announcement-heading {
    overflow: hidden;
}

.title-info {
    float: left;
    width: 60%;
}

.modify-container {
    margin: 20px 0px 10px 0px;
    float: right;
    width: 40%;
}

.delete-announcement-icon, .edit-icon {
    cursor: pointer;
    float: right;
}

.delete-announcement-icon {
    padding-left: 10px;
    color: red;
}

    .delete-announcement-icon:hover {
        color: darkred;
    }

.author {
    padding-left: 15px;
}

#loadingSpinner {
    position: fixed;
    z-index: 999;
    height: 6em;
    width: 6em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.announcement-comments {
    padding: 20px 60px 20px 60px;
    color: #666;
    background-color: white;
    margin: 30px 10px 30px 10px;
}

#headerLine > i {
    cursor: pointer;
    padding-top: 20px;
    height: auto;
    width: 10%;
    float: left;
}

#headerLine > h2 {
    width: 90%;
    float: left;
}
