.sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #99A7FF; /*sidebar blue*/
    color: white;
}

    .sidebar > a {
        color: #fff;
        padding-bottom: 10px;
        float: right;
    }

.announcement-button {
    padding: 20px 10px 20px 10px;
    text-align: center;
    font-size: 16pt;
    overflow: visible;
    width: 100%;
    border: none;
    border-bottom: 2px solid #7b90ba;
    color: #6B75B2;
    background-color: #FFFECD;
    word-wrap: break-word;
}
/*todo Continue editting css file.*/
    .announcement-button > div {
        width: 80%;
        float: left;
    }

    .announcement-button:hover {
        color: blue;
        text-decoration: none;
    }

.important {
    color: red;
    font-size: 20pt;
    float: left;
    margin-left: 10%;
    width: 10%;
}

.selected {
    background-color: #FFDC66;
}

    .selected:hover {
        color: black;
    }

#noAnnouncementSelected {
    font-size: 20pt;
    margin: 100px 0 0 0;
    text-align: center;
}

.selected-announcement {
    padding: 20px 60px 20px 60px;
    color: #666;
    background-color: white;
    margin: 30px 10px 30px 10px;
    overflow: hidden;
}

.announcement-content {
    padding-top: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.twitter-container {
    float: right;
}

.outline {
    background-color: #B9C2FF;
}


.announcement-heading {
    overflow: hidden;
}

.title-info {
    word-wrap: break-word;
}

.modify-container {
    margin: 20px 0px 10px 0px;
}


.get-students-seen-icon {
    padding-left: 10px;
}

.author {
    padding-left: 15px;
    font-style: italic;
}

#loadingSpinner {
    position: fixed;
    z-index: 999;
    height: 6em;
    width: 6em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.announcement-comments {
    padding: 20px 60px 20px 60px;
    color: #666;
    background-color: white;
    margin: 30px 10px 30px 10px;
}



#deleteAnnouncementButton {
    float: right;
}

.modify-comment {
    float: right;
    cursor: pointer;
    width: 15%;
}

.delete-comment-icon {
    color: red;
}

.comment-content {
    width: 85%;
    display: inline-block;
    align-content: center;
    word-wrap: break-word;
}

    .comment-content > div {
        white-space: pre-wrap;
    }


.comment-author {
    color: #999;
    font-style: italic;
}

.comment-block {
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.comment-separator {
    margin: 0px;
}

.submit-comment-warning {
    color: red;
}

.comment-text-box {
    margin: 0;
    padding: 0;
}

.comments-heading {
    padding-bottom: 1em;
}

.return-to-announcement {
    float: left;
    margin: 0px 10px 0 0;
    padding: 0;
}

.editing {
    outline: none !important;
    border: 1px solid #aabad9;
    box-shadow: 0 0 10px #719ECE;
}

    .editing:focus {
        outline: none !important;
        border: 1px solid #aabad9;
        box-shadow: 0 0 10px #719ECE;
    }

.adding {
    outline: none !important;
    border: 1px solid #74f77f;
    box-shadow: 0 0 10px #719ECE;
}

.not-seen-table, .seen-table {
    float: left;
    width: 50%;
}

.table .student-name, .table .table-header {
    border: none;
}

.not-seen {
    color: red;
}

.table .table-header {
    border-bottom: solid 1px grey;
}


.clear {
    clear: both;
}

.view-title {
    font-style: italic;
    padding-left: 40px;
}


.percentage {
    color: grey;
}

.material-icons {
    font-size: 20pt;
}
