body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.delete-icon {
    color: red;
    float: right;
}

textarea.contentTextArea {
    height: 200px;
}

.table {
}

.tableAnnouncement {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

    .tableAnnouncement:hover {
        background-color: #efefef;
        text-decoration: none;
        color: black;
    }

.announcementTitle {
    font-size: 25px;
}

.announcementContent {
    font-size: 20px;
}

.announcementEdit {
    width: 5%;
}

.detailsAnnouncementTitle {
    vertical-align: middle;
}

#announcementDetailsHeader {
    width: 100%;
}

.editAnnouncementIcon {
    float: right;
    vertical-align: middle;
}

.backArrow {
    padding-right: 20px;
}

    .backArrow:hover {
        text-decoration: none;
    }
