@model IEnumerable<Coursework.Models.Comment>

<h3>Comments</h3>
@foreach (var comment in Model)
{
    <div id="@comment.Id">
        @comment.Content - @comment.User.UserName
    </div>
}

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Add a comment">
        <small class="form-text text-muted">Press enter to submit comment.</small>
    </div>
</form>