@model Coursework.Models.HasSeenViewModel

@Ajax.ActionLink("arrow_back", "GetAnnouncement", "Announcements", new { announcementId = Model.Announcement.Id }, new AjaxOptions
{ 
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loadingSpinner",
    UpdateTargetId = "selectedAnnouncement"
}, new { @class = "material-icons return-to-announcement" })
<h2>Edit Announcement</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model=>model.Seen)</th>
    </tr>

@foreach (var item in Model.Seen) {
    <tr>
        <td>@item.UserName</td>
    </tr>
}

</table>
