@model Coursework.Models.Announcement

@{
    ViewBag.Title = "Details";
}

<div class="col-md-8 col-md-offset-2">
    <table id="announcementDetailsHeader">
        <tr>
            <td>
                <a href="@Url.Action("Index")" class="backArrow">
                    <i class="material-icons ">arrow_back</i>
                </a>
            </td>
            <td>
                <h2 class="detailsAnnouncementTitle">@Model.Title</h2>
            </td>
            @if (ViewBag.isLecturer)
            {
                <td>
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="editAnnouncementIcon">
                        <span class="material-icons">edit</span>
                    </a>
                </td>
            }
        </tr>
    </table>
    <hr />
</div>


<div class="col-md-offset-2 col-md-8">
    @Model.Content
</div>