@model IEnumerable<Coursework.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
}

<div class="sidebar col-sm-4">
    <h2 class="text-center">@ViewBag.Title</h2>
    @if (ViewBag.isLecturer)
    {
        @Ajax.ActionLink("Create New",
       "Create", "", new AjaxOptions
       {
           UpdateTargetId = "selectedAnnouncement",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           LoadingElementId = "loadingSpinner",
           OnBegin = "hideSelectedAnnouncement();",
           OnComplete = "showSelectedAnnouncement();"
       }, new { @class = "create-announcement-link" })
    }
    @foreach (var item in Model)
    {
        using (Ajax.BeginForm("GetAnnouncement", "Announcements", "", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "selectedAnnouncement",
            LoadingElementId = "loadingSpinner",
            OnBegin = "hideSelectedAnnouncement();",
            OnComplete = "showSelectedAnnouncement();"
        }, new { id = "announcementButton" }))
        {
            @Html.Hidden("announcementId", item.Id)
            <button class="announcement-button" type="submit">
                <div>
                    @item.Title
                </div>
                @if (item.Important)
                {
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                }
            </button>
        }
    }
</div>

<div class="col-sm-8 loading-spinner" hidden id="loadingSpinner">
    <img src="~/Content/loader.svg" />
</div>

<div id="noAnnouncementContainer" class="col-sm-8 no-announcement-container"><div>No announcement selected.</div></div>

<div hidden id="selectedAnnouncement" class="outline col-sm-8"></div>

@section Scripts {
    <script src="~/CustomScripts/indexAnnouncement.js"></script>
}
